#shuttleBackground {
    background-color: green;
    display: inline-block;
    height: 80%;
    width: 40%;
}

#rocket {
    border: solid 2px;
    text-align: center;
    position: absolute;
}

#shuttleBackgroundBlock {
    display: block;
    padding: 0;
    height: 100%;
    width: 100%;
}
