#shuttleBackground {
    background-color: green;
    display: inline-block;
    height: 80%;
    width: 40%;
}

#rocket {
    border: solid 2px;
    position: relative;
    top: 0px;
    visability: visable;
        
}

