#shuttleBackground {
    background-color: green;
    display: inline-block;
    height: 80%;
    width: 40%;
}

#rocket {
    border: 2x;
    position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
}
